/**
  * Main Stylesheet
  *
  * @package cpc
  * @author  Kabolobari Benakole <i@kb.life>
  * @version 1.0.0
  */
html {
  font-size: 16.525px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  outline-color: inherit;
}

body {
  margin: 0;
  font-family: "Avenir", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Helvetica Neue", sans-serif;
  background-color: white;
}

p {
  margin: 0;
  margin-bottom: 16.525px;
}

p:last-child {
  margin-bottom: 0;
}

a,
.as-link {
  text-decoration: none;
  cursor: pointer;
  color: #006535;
  font-weight: 500;
  transition: all 0.32s ease-out;
}

a:focus, a:hover,
.as-link:focus,
.as-link:hover {
  text-decoration: none;
  color: #767676;
}

a:visited {
  color: purple;
}

.privacy-link:visited, .privacy-link {
  color: white;
}

.address-link:visited, .address-link {
  color: rgba(255, 255, 255, 0.72);
}

audio, canvas, img, video {
  display: block;
  max-width: unset;
}

img {
  width: 100%;
  height: auto;
}

svg {
  pointer-events: none;
  vertical-align: middle;
  fill: inherit;
  transition: all 0.32s ease;
}

ul.none {
  padding-left: 0;
  list-style: none;
}

button {
  outline: none;
}

button[type="button"] {
  box-sizing: content-box;
  background: none;
  border: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  overflow: visible;
  padding: 0;
  font: inherit;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="email"], input[type="submit"], input[type="reset"], input[type="button"] {
  box-sizing: content-box;
  background: none;
  border: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-style: normal;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  -webkit-appearance: none;
}

input[type="email"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-main {
  flex: 1;
}

.boxed-width {
  max-width: 1024px;
  margin: 0 auto;
}

.wrapper {
  padding: 0.96rem;
}

@media only screen and (min-width: 576px) {
  .wrapper.will-grow {
    padding: 1.48rem 0.96rem;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper.will-grow {
    padding: 2.48rem 0.96rem;
  }
}

@media only screen and (min-width: 992px) {
  .wrapper.will-grow {
    padding: 3.48rem 0.96rem;
  }
}

.wrapper-x {
  padding-right: 0.96rem;
  padding-left: 0.96rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.96rem;
}

.grid.is-1-2-2 .grid-item {
  grid-column: 1 / 13;
}

@media only screen and (min-width: 576px) {
  .grid.is-1-2-2 .grid-item:nth-child(odd) {
    grid-column: 1 / 7;
  }
  .grid.is-1-2-2 .grid-item:nth-child(even) {
    grid-column: 7 / 13;
  }
}

.grid.is-multi-col.mostly-3 {
  grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
}

.grid.is-multi-col.mostly-4 {
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.grid .col-6 {
  grid-column: 1 / 7;
}

.grid .col-6.offset-6-cols-from-left {
  grid-column: 7 / 13;
}

.grid .col-12 {
  grid-column: 1 / 13;
}

@media only screen and (min-width: 576px) {
  .grid .col-6-sm {
    grid-column: 1 / 7;
  }
  .grid .col-6-sm.offset-6-cols-from-left {
    grid-column: 8 / 13;
  }
}

.main-header .top-header {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.main-header .top-header .logo-icon {
  display: flex;
}

.main-header .top-header .logo-icon .logo {
  width: 80px;
}

.main-header .top-header .logo-icon .logo img {
  width: 100%;
}

.main-header .top-header .logo-icon p {
  font-size: 18px;
  margin-left: 10px;
  margin-top: 20px;
}

.main-header .top-header .logo-icon p a {
  color: #006535;
}

.main-header .top-header .logo-icon p a:visited {
  color: #006535;
}

.main-header .top-header .logo-icon .menu-icon {
  margin-left: 15px;
  display: none;
  font-size: 28px;
}

.main-header .top-header .logo-icon .menu-icon:hover {
  cursor: pointer;
}

.main-header .top-header .sign-complaint {
  padding-top: 10px;
}

.main-header .top-header .sign-complaint button {
  border: none;
  padding: 13px 20px;
  font-size: 14px;
  color: green;
  border-radius: 4px;
  margin-left: 5px;
}

.main-header .top-header .sign-complaint button:hover {
  cursor: pointer;
  background: #006535;
  color: white;
}

.main-header .top-header .sign-complaint button.complaint {
  background: #c62d23;
  color: white;
}

.main-header .bottom-bar {
  background: #006535;
}

.main-header nav {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0px 15px;
}

.main-header nav ul {
  display: flex;
  font-size: 14px;
  font-weight: lighter;
}

.main-header nav ul li {
  padding: 20px 0px;
  margin-right: 20px;
}

.main-header nav ul a {
  padding: 18px 0px;
  color: rgba(255, 255, 255, 0.72);
  transition: all 0.1s;
}

.main-header nav ul a.is-active {
  border-bottom: 3px solid white;
  color: white;
}

.main-header nav ul a:hover {
  border-bottom: 3px solid white;
  color: white;
}

.main-header nav ul li.nav-search {
  display: flex;
  align-items: center;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: white;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color: #006535;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: black;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 30px;
}

@media screen and (max-width: 690px) {
  .main-header .top-header .logo-icon {
    display: flex;
  }
  .main-header .top-header .logo-icon .logo {
    width: 60px;
  }
  .main-header .top-header .logo-icon p {
    display: none;
  }
  .main-header .top-header .logo-icon .menu-icon {
    display: block;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 8px;
  }
  .main-header .top-header .logo-icon .menu-icon:hover {
    cursor: pointer;
  }
  .main-header .top-header .sign-complaint {
    padding-top: 5px;
  }
  .main-header .top-header .sign-complaint button {
    border: none;
    padding: 8px 10px;
    font-size: 12px;
    color: green;
    border-radius: 4px;
    margin-left: 3px;
  }
  .main-header .top-header .sign-complaint button:hover {
    cursor: pointer;
    background: #ccc;
  }
  .main-header .top-header .sign-complaint button.complaint {
    background: #c62d23;
    color: white;
  }
  .main-header nav {
    display: none;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.site-footer {
  background-color: #006535;
  color: #f9f9f9;
  padding: 2.48rem 0;
}

.site-footer .sitemap li a {
  position: relative;
  display: block;
  color: #f9f9f9;
  opacity: 0.72;
  padding: 2px 0;
  font-size: 15px;
  font-weight: 300;
  text-transform: inherit;
  letter-spacing: 0;
}

.site-footer .sitemap li a.is-active, .site-footer .sitemap li a:hover {
  opacity: 1;
}

.site-footer .social-media-links a {
  display: inline-block;
}

.site-footer .social-media-links a:nth-child(even) {
  padding: 0 0.96rem;
}

.site-footer .social-media-links a svg {
  width: 20px;
  height: 20px;
}

.site-footer .colophon {
  margin-top: 1.48rem;
  padding-top: 1.48rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.site-footer .colophon span {
  opacity: 0.7;
}

.site-footer .colophon a {
  color: white;
}

.site-footer .colophon a:active, .site-footer .colophon a:focus, .site-footer .colophon a:hover, .site-footer .colophon a:visited {
  color: rgba(255, 255, 255, 0.7);
}

.apps {
  padding: 0;
  margin: 0;
  list-style: none;
}

.apps li {
  width: 140px;
  background: white;
  border-radius: 5px;
  display: inline-block;
}

.cols, .bottom-footer {
  padding-top: 20px;
}

.w-link a {
  color: white;
}

#breadcrumbs {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 15px 0px 15px;
}

#breadcrumbs a {
  color: #006535;
}

#breadcrumbs a:visited {
  color: #006535;
}

.input-group {
  position: relative;
  width: 100%;
}

.input-group .form-control {
  width: 100%;
  height: 44px;
  line-height: 44px;
  border: 1px solid #f9f9f9;
  border-radius: 3px;
}

.input-group .form-control.form-text-input {
  background-color: transparent;
  border-bottom: 0;
  color: #f9f9f9;
  text-align: center;
  width: 100%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group .form-control.form-text-input::placeholder {
  color: #f9f9f9;
  opacity: 0.7;
}

.input-group .form-control.form-submit-input {
  background-color: #f9f9f9;
  display: block;
  color: #006535;
  height: 42px;
  line-height: 42px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  width: 100%;
  font-size: 0.975rem;
  font-weight: 500;
  text-transform: unset;
  letter-spacing: 2px;
}

.prefix, .icon.cpc {
  margin-right: 6px;
}

.prefix.is-wider, .is-wider.icon.cpc {
  margin-right: 15px;
}

.suffix {
  margin-left: 6px;
}

.suffix.is-wider {
  margin-left: 12px;
}

.bullet-checks {
  fill: #006535;
}

.has-icon {
  display: flex !important;
  align-items: center;
}

span[uk-icon="icon: sign-in"] {
  transform: translateX(-5px);
}

.icon {
  color: inherit;
}

.icon.cpc {
  width: 16.525px;
}

.group-quick-about .icon {
  margin-right: 12px;
  max-width: 32px;
  min-width: 32px;
  fill: #767676;
}

.btn {
  display: flex;
  align-items: center;
  font-size: 0.975rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 0 0.96rem;
  white-space: nowrap;
  border-radius: 3px;
}

.btn.btn-md {
  height: 2.48rem;
  line-height: 2.48rem;
}

.btn.btn-white {
  background-color: #f9f9f9;
  color: #006535;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.tx-c {
  text-align: center;
}

.text-shadow-light {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.nanotext {
  font-size: 0.775rem;
}

.microtext {
  font-size: 0.975rem;
}

.smalltext {
  font-size: 1.015rem;
}

.mediumtext {
  font-size: 1.225rem;
}

.fw-normal {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

h1, h2, h3, h4 {
  font-weight: 500;
  margin-top: 1.48rem;
  margin-bottom: 0.96rem;
}

h1, .h1 {
  font-size: 1.56rem;
}

@media only screen and (min-width: 576px) {
  h1, .h1 {
    font-size: 1.72rem;
  }
}

h2, .h2 {
  font-size: 1.32rem;
}

@media only screen and (min-width: 576px) {
  h2, .h2 {
    font-size: 1.48rem;
  }
}

h3, .h3 {
  font-size: 1.24rem;
}

.is-all-caps {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.section-title {
  padding-bottom: 0.96rem;
  font-size: 1.015rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #006535;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2.48rem;
}

.sweetgray-links {
  color: #767676;
  fill: #767676;
}

.sweetgray-links:active, .sweetgray-links:focus, .sweetgray-links:hover {
  color: #006535;
  fill: #006535;
}

.richblack-links {
  color: #00171f;
}

.richblack-links:active, .richblack-links:focus, .richblack-links:hover {
  color: #767676;
}

.whitesmoke-links {
  color: #f9f9f9;
  opacity: 1;
}

.whitesmoke-links svg {
  fill: #f9f9f9;
  opacity: 1;
}

.whitesmoke-links:active, .whitesmoke-links:focus, .whitesmoke-links:hover {
  opacity: 0.7;
}

.whitesmoke-links:active svg, .whitesmoke-links:focus svg, .whitesmoke-links:hover svg {
  opacity: 0.7;
}

.link-on-primary {
  color: #f9f9f9;
}

.link-on-primary:active, .link-on-primary:focus, .link-on-primary:hover {
  opacity: 0.7;
}

.left-bordered {
  display: block;
  border-left: 4px solid #006535;
  padding-left: 0.48rem;
}

.view-more {
  display: flex;
  align-items: center;
  line-height: 0;
  text-transform: capitalize;
  font-size: 96%;
  letter-spacing: 1px;
}

.has-avatar {
  display: table;
}

.has-avatar.is-small {
  width: 90px;
  height: 90px;
}

.has-avatar.is-medium {
  width: 120px;
  height: 120px;
}

.avatar {
  border-radius: 50%;
}

.avatar.may-be-variable {
  object-fit: cover;
}

.avatar.is-micro {
  width: 45px;
  height: 45px;
}

.avatar.is-smaller {
  width: 64px;
  height: 64px;
}

.avatar.is-small {
  width: 90px;
  height: 90px;
}

.avatar.is-medium {
  width: 120px;
  height: 120px;
}

svg {
  fill: transparent;
}

.bg-whitesmoke {
  background-color: #f9f9f9;
}

.bg-platinum {
  background-color: #f2f2f2;
}

.bg-img-filtered {
  position: relative;
}

.bg-img-filtered::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.co-white {
  color: #fff;
}

.co-white.is-dimmer {
  opacity: 0.8;
}

.co-sweetgray {
  color: #767676;
}

.co-readablegray {
  color: rgba(0, 0, 0, 0.76);
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-1 {
  opacity: 1;
}

.transition-default {
  transition: all 320ms ease-out;
}

.kenburns {
  overflow: hidden;
}

.kenburns img {
  transform: scale(1);
  transition: transform 8s ease;
}

.kenburns:focus img, .kenburns:hover img, .kenburns:active img {
  transform: scale(1.2);
}

.postcard {
  display: block;
}

.postcard::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0, transparent 40%, transparent 60%, rgba(0, 0, 0, 0.8));
}

.postcard .thumbnail {
  object-fit: cover;
  width: 100%;
}

.postcard .category {
  position: absolute;
  top: 0.96rem;
  left: 0.96rem;
}

.postcard .details {
  position: absolute;
  bottom: 0.96rem;
  width: 100%;
  padding: 0 0.96rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postcard .details .title {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 300;
  max-width: 96%;
  margin-right: 0.96rem;
}

@media only screen and (min-width: 576px) {
  .postcard .details .title {
    font-size: 1.32rem;
  }
}

.blurb {
  padding: 1.48rem;
  border-radius: 4px;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  background-color: #fff;
}

.slider-actions {
  display: flex;
  max-width: 1024px;
  margin: 30px auto;
}

.slider-actions .slider .about-carousel {
  background: #FAFAFA;
}

.slider-actions .slider .about-carousel .carousel-cell {
  width: 100%;
  height: 360px;
  counter-increment: carousel-cell;
}

.slider-actions .slider .about-carousel .carousel-cell img {
  height: 100%;
  object-fit: cover;
}

.slider-actions .slider .about-carousel .carousel-cell .carousel-caption {
  font-size: 18px;
}

.slider-actions .slider ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-actions .slider .flickity-button {
  background: #006535;
  opacity: 0.7;
}

.slider-actions .slider .flickity-button .flickity-button-icon {
  fill: white;
}

.slider-actions .slider .flickity-button:hover {
  opacity: 1;
}

.slider-actions .actions .action:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.slider-actions .actions .action {
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.3);
  padding: 11px 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  transition: all 0.2s;
}

.slider-actions .actions .action .action-image {
  width: 50px;
  padding-top: 10px;
}

.slider-actions .actions .action .action-image img {
  width: 100%;
}

.slider-actions .actions .action .action-text {
  margin-left: 10px;
}

.slider-actions .actions .action h4 {
  margin: 5px 0px;
  font-size: 16px;
  color: black;
}

.slider-actions .actions .action p {
  font-size: 12px;
}

.cpc-stats {
  border-top: 0.5px solid #cccccc;
  border-bottom: 0.5px solid #cccccc;
  background: #f6f7f8;
}

.cpc-stats .stats {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10px;
}

.cpc-stats .stats .stat {
  width: 25%;
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cpc-stats .stats .stat h2 {
  color: #006535;
  border-bottom: 5px;
}

.cpc-stats .stats .mid-stat1 {
  border-right: 0.5px solid #707070;
  border-left: 0.5px solid #707070;
}

.cpc-stats .stats .mid-stat2 {
  border-right: 0.5px solid #707070;
}

.cpc-stats .stats .all-stat .date {
  font-size: 12px;
  margin: 30px 0px 0px 0px;
}

.cpc-stats .stats .all-stat .cpc-name {
  font-size: 14px;
}

.consumer-testimonials {
  margin: 0px 0px 20px 0px;
  background: #FAFAFA;
  padding-top: 30px;
}

.consumer-testimonials .consumer-top-title {
  max-width: 1024px;
  margin: 0px auto 50px auto;
  padding: 0px 15px;
}

.consumer-testimonials .consumer-top-title a {
  display: flex;
  align-items: center;
  font-size: 17px;
}

.consumer-testimonials .testimonials-slider {
  max-width: 1024px;
  margin: 0 auto;
}

.consumer-testimonials .about-carousel .carousel-cell {
  width: 100%;
  height: auto;
  counter-increment: carousel-cell;
}

.consumer-testimonials ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.consumer-testimonials ul .item {
  padding: 0px 100px;
}

.consumer-testimonials ul .testimonial-text {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 4px;
  border: 0.5px solid #efefef;
  padding: 20px;
  background: white;
  font-size: 16px;
}

.consumer-testimonials ul .consumer-info {
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.consumer-testimonials ul .consumer-info .consumer-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.consumer-testimonials ul .consumer-info .consumer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
}

.consumer-testimonials ul .consumer-info .consumer-details h4 {
  color: #006535;
}

.from-consumer-blog .from-consumer-blog-content {
  max-width: 1024px;
  margin: 0 auto 50px auto;
  padding: 15px;
}

.from-consumer-blog .from-consumer-blog-content .from-consumer-blog-title {
  display: flex;
  margin: 20px 0px;
  align-items: center;
}

.from-consumer-blog .from-consumer-blog-content .from-consumer-blog-title h2 {
  margin-right: 30px;
}

.from-consumer-blog .from-consumer-blog-content .from-consumer-blog-title a {
  margin-top: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.from-consumer-blog .from-consumer-blog-content .index-blog-articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 20px 0px;
}

.from-consumer-blog .from-consumer-blog-content .index-blog-articles .index-blog-article {
  width: 50%;
  display: flex;
  margin-bottom: 20px;
}

.from-consumer-blog .from-consumer-blog-content .index-blog-articles .index-blog-article .index-blog-image {
  width: 550px;
  height: 225px;
}

.from-consumer-blog .from-consumer-blog-content .index-blog-articles .index-blog-article .index-blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.from-consumer-blog .from-consumer-blog-content .index-blog-articles .index-blog-article .index-blog-snippet {
  margin: 0px 10px;
}

.from-consumer-blog .from-consumer-blog-content .index-blog-articles .index-blog-article .index-blog-snippet .post-title {
  font-weight: bolder;
  margin: 0;
}

.from-consumer-blog .from-consumer-blog-content .index-blog-articles .index-blog-article .index-blog-snippet .thin-bar {
  width: 100px;
  border: 0.5px solid #006535;
  margin: 10px 0px;
}

.from-consumer-blog .from-consumer-blog-content .index-blog-articles .index-blog-article .index-blog-snippet p {
  font-size: 17px;
}

.from-consumer-blog .from-consumer-blog-content .index-blog-articles .index-blog-article .index-blog-snippet a {
  font-size: 17px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .slider-actions {
    display: block;
    margin: 30px auto;
  }
  .slider-actions .actions {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .slider-actions .actions .action {
    width: 300px;
    margin: 10px;
    border-radius: 4px;
    display: flex;
    transition: all 0.2s;
  }
  .slider-actions .actions .action .action-image {
    width: 50px;
    padding-top: 20px;
  }
  .slider-actions .actions .action .action-image img {
    width: 100%;
  }
  .slider-actions .actions .action .action-text {
    margin-left: 10px;
  }
  .slider-actions .actions .action h4 {
    margin: 5px 0px;
    font-size: 16px;
    color: black;
  }
  .slider-actions .actions .action p {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .cpc-stats {
    padding: 10px;
  }
  .cpc-stats .stats {
    flex-wrap: wrap;
    padding: 0px 10px;
  }
  .cpc-stats .stats .stat {
    width: 50%;
    height: 150px;
  }
  .cpc-stats .stats .mid-stat1 {
    border-right: none;
    border-left: none;
    border-bottom: 0.5px solid #707070;
  }
  .cpc-stats .stats .mid-stat2 {
    border-right: 0.5px solid #707070;
  }
  .cpc-stats .stats .all-stat {
    border-right: 0.5px solid #707070;
    border-bottom: 0.5px solid #707070;
  }
  .from-consumer-blog .from-consumer-blog-content {
    max-width: 1024px;
    margin: 0 auto 50px auto;
    padding: 15px;
  }
  .from-consumer-blog .from-consumer-blog-content .from-consumer-blog-title {
    display: flex;
    margin: 20px 0px;
  }
  .from-consumer-blog .from-consumer-blog-content .from-consumer-blog-title h2 {
    margin-right: 30px;
  }
  .from-consumer-blog .from-consumer-blog-content .from-consumer-blog-title a {
    margin-top: 30px;
  }
  .from-consumer-blog .from-consumer-blog-content .index-blog-articles {
    display: block;
    margin: 20px 0px;
  }
  .from-consumer-blog .from-consumer-blog-content .index-blog-articles .index-blog-article {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
  }
  .from-consumer-blog .from-consumer-blog-content .index-blog-articles .index-blog-article .index-blog-image {
    width: 350px;
    height: auto;
  }
  .from-consumer-blog .from-consumer-blog-content .index-blog-articles .index-blog-article .index-blog-image img {
    width: 100%;
    height: 100px;
  }
}

@media screen and (max-width: 500px) {
  .consumer-testimonials {
    margin: 30px 0px;
  }
  .consumer-testimonials .testimonials-slider .item {
    padding: 0px 50px;
  }
  .consumer-testimonials .testimonials-slider .testimonial-text {
    border: none;
    padding: 5px;
  }
  .consumer-testimonials .testimonials-slider .consumer-info {
    max-width: 600px;
    margin: 5px auto;
    display: flex;
  }
  .consumer-testimonials .testimonials-slider .consumer-info .consumer-image {
    width: 100px;
    border-radius: 50%;
    margin-right: 5px;
  }
  .consumer-testimonials .testimonials-slider .consumer-info .consumer-image img {
    border: 2px solid white;
  }
  .consumer-testimonials .testimonials-slider .consumer-info .consumer-details h4 {
    font-size: 15px;
    margin-top: 10px;
  }
  .from-consumer-blog .from-consumer-blog-content {
    max-width: 1024px;
    margin: 0 auto 50px auto;
    padding: 0px 15px;
  }
  .from-consumer-blog .from-consumer-blog-content .from-consumer-blog-title {
    display: flex;
    margin: 20px 0px;
  }
  .from-consumer-blog .from-consumer-blog-content .from-consumer-blog-title h2 {
    margin-right: 10px;
    font-size: 17px;
  }
  .from-consumer-blog .from-consumer-blog-content .from-consumer-blog-title a {
    margin-top: 25px;
  }
  .from-consumer-blog .from-consumer-blog-content .index-blog-articles {
    display: block;
    margin: 20px 0px;
  }
  .from-consumer-blog .from-consumer-blog-content .index-blog-articles .index-blog-article {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .from-consumer-blog .from-consumer-blog-content .index-blog-articles .index-blog-article .index-blog-image {
    width: 100%;
    height: 280px;
  }
  .from-consumer-blog .from-consumer-blog-content .index-blog-articles .index-blog-article .index-blog-image img {
    width: 100%;
    height: 100%;
  }
  .from-consumer-blog .from-consumer-blog-content .index-blog-articles .index-blog-article .index-blog-snippet {
    margin: 20px 0px;
  }
}

.carousel-caption {
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
  padding-left: 30px;
  background-image: -ms-linear-gradient(top right, rgba(0, 101, 53, 0) 0%, #006535 100%);
  background-image: -moz-linear-gradient(top right, rgba(0, 101, 53, 0) 0%, #006535 100%);
  background-image: -o-linear-gradient(top right, rgba(0, 101, 53, 0) 0%, #006535 100%);
  background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, rgba(0, 101, 53, 0)), color-stop(100, #006535));
  background-image: -webkit-linear-gradient(top right, rgba(0, 101, 53, 0) 0%, #006535 100%);
  background-image: linear-gradient(to bottom left, rgba(0, 101, 53, 0) 0%, #006535 100%);
}

.page-header-title {
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px 15px;
}

.page-header-title h1 {
  margin: 40px 0px;
}

.page-header-title .big-bars {
  display: flex;
}

.page-header-title .big-bars .green-bar {
  width: 35%;
  border: 1.5px solid #006535;
}

.page-header-title .big-bars .grey-bar {
  width: 10%;
  border: 1.5px solid rgba(0, 0, 0, 0.2);
}

.about-cpc {
  padding: 30px;
}

.about-cpc .about-cpc-content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0px 15px;
  display: flex;
}

.about-cpc .about-cpc-content .about-cpc-light {
  font-size: 16px;
  width: auto;
}

.about-cpc .about-cpc-content .about-cpc-light button {
  padding: 10px 30px 10px 0px;
  border: none;
  background: none;
}

.about-cpc .about-cpc-content .about-cpc-bold {
  max-width: 300px;
  margin: 20px;
}

.about-cpc .about-cpc-content .about-cpc-bold h1 {
  color: #006535;
}

.mission-vision {
  overflow: hidden;
  margin: 30px 0px;
  padding: 0px 15px;
}

.mission-vision .mission, .mission-vision .vision {
  padding: 50px 15px;
  border-radius: 4px;
  max-width: 1024px;
  margin: 20px auto;
  display: flex;
  box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.1);
}

.mission-vision .mission h1, .mission-vision .vision h1 {
  color: #006535;
  margin-top: 15px;
  width: 300px;
  text-align: center;
}

.mission-vision .mission p, .mission-vision .vision p {
  font-size: 20px;
  color: gba(0, 0, 0, 0.6);
}

.more-about-cpc {
  margin: 50px 0px;
}

.more-about-cpc .strategic-work {
  display: flex;
  max-width: 1024px;
  margin: 10px auto;
  padding: 20px 15px;
}

.more-about-cpc .strategic-work .what-we-do, .more-about-cpc .strategic-work .strategic-goals {
  padding: 10px;
  width: 50%;
}

.more-about-cpc .strategic-work .what-we-do h1, .more-about-cpc .strategic-work .strategic-goals h1 {
  color: #006535;
}

.more-about-cpc .strategic-work .what-we-do p, .more-about-cpc .strategic-work .what-we-do li, .more-about-cpc .strategic-work .strategic-goals p, .more-about-cpc .strategic-work .strategic-goals li {
  font-size: 16px;
}

.cpc-about-slider .slider {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px;
}

.cpc-about-slider .slider .about-carousel {
  background: #FAFAFA;
  padding: 0;
  margin: 0;
  list-style: none;
}

.cpc-about-slider .slider .about-carousel .carousel-cell {
  width: 100%;
  height: auto;
  margin-right: 10px;
  counter-increment: carousel-cell;
}

.cpc-management {
  overflow: hidden;
  padding: 50px 0px;
}

.cpc-management .management {
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px;
}

.cpc-management .management h1 {
  text-align: center;
  color: #006535;
}

.cpc-management .management .profile-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.cpc-management .management .profile-cards .profile-card:hover {
  cursor: pointer;
}

.cpc-management .management .profile-cards .profile-card {
  width: 200px;
  margin: 20px 0px;
}

.cpc-management .management .profile-cards .profile-card .profile-pic {
  width: 80%;
  margin: 0 auto;
}

.cpc-management .management .profile-cards .profile-card .profile-pic img {
  width: 100%;
  border-radius: 5px;
}

.cpc-management .management .profile-cards .profile-card .profile-name {
  margin: 20px 10px;
  text-align: center;
}

.cpc-management .management .profile-cards .profile-card .profile-name h3 {
  color: #006535;
}

.chart-download {
  max-width: 1024px;
  margin: 0 auto 30px auto;
  padding: 15px;
}

.chart-download .download-card {
  box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  padding: 20px;
}

.chart-download .download-card .file-image {
  width: 100px;
}

.chart-download .download-card .file-image img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .about-cpc {
    padding: 0px;
  }
  .about-cpc .about-cpc-content {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .about-cpc .about-cpc-content .about-cpc-bold {
    max-width: 300px;
    margin: 0px 0px 20px 0px;
  }
}

@media screen and (max-width: 768px) {
  .mission-vision .mission, .mission-vision .vision {
    padding: 50px 15px;
    display: block;
  }
  .mission-vision .mission h1, .mission-vision .vision h1 {
    text-align: left;
  }
  .mission-vision .mission p, .mission-vision .vision p {
    font-size: 18px;
  }
  .more-about-cpc {
    margin: 30px 0px;
  }
  .more-about-cpc .strategic-work {
    display: block;
    margin: 10px auto;
    padding: 20px 15px;
  }
  .more-about-cpc .strategic-work .what-we-do, .more-about-cpc .strategic-work .strategic-goals {
    width: 100%;
    padding: 0px;
  }
  .more-about-cpc .strategic-work .what-we-do p, .more-about-cpc .strategic-work .strategic-goals p {
    font-size: 18px;
  }
  .cpc-management {
    padding: 30px 0px;
  }
  .cpc-management .management {
    max-width: 1024px;
    margin: 0 auto;
    padding: 15px;
  }
  .cpc-management .management h1 {
    text-align: center;
  }
  .cpc-management .management .profile-cards {
    display: flex;
    margin: 20px auto;
  }
  .cpc-management .management .profile-cards .profile-card {
    width: 230px;
    margin: 20px 0px;
  }
  .cpc-management .management .profile-cards .profile-card .profile-image {
    width: 100%;
    margin: 0 auto;
  }
  .cpc-management .management .profile-cards .profile-card .profile-name {
    margin: 20px 10px;
  }
  .cpc-chart {
    margin-bottom: 20px;
  }
  .cpc-chart .chart-download {
    padding: 0px 15px;
  }
}

@media screen and (max-width: 410px) {
  .cpc-management .management .profile-cards .profile-card {
    margin: 20px 0px;
  }
  .cpc-management .management .profile-cards .profile-card .profile-pic {
    width: 100%;
  }
  .cpc-management .management .profile-cards .profile-card .profile-name {
    margin: 10px 10px;
  }
}

.with-left-nav {
  max-width: 1024px;
  margin: 30px auto;
  padding: 15px;
  display: flex;
}

.with-left-nav .left-nav {
  margin-right: 20px;
  width: 300px;
}

.with-left-nav .left-nav p {
  padding: 20px 0px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.4);
  font-size: 16px;
}

.with-left-nav .left-nav ul {
  list-style: none;
  padding: 0;
}

.with-left-nav .left-nav ul li {
  margin: 15px 0px;
  font-size: 16px;
}

.with-left-nav .left-nav ul li a {
  color: #707070;
}

.with-left-nav .left-nav ul li a.active, .with-left-nav .left-nav ul li a:hover {
  color: #006535;
}

.with-left-nav .right-content {
  width: 700px;
}

.with-left-nav .right-content .page-header-title {
  padding: 0px;
}

.with-left-nav .right-content .page-header-title h1 {
  margin-top: 20px;
  color: black;
}

.with-left-nav .right-content .post-content {
  margin: 30px 0px;
}

.with-left-nav .right-content .post-content h1 {
  color: #006535;
}

.with-left-nav .right-content .post-content p {
  font-size: 17px;
}

.with-left-nav .right-content .post-content .green-text {
  font-weight: bolder;
  color: #006535;
}

.with-left-nav .right-content .post-content li {
  font-size: 17px;
}

.cpc-bottom-links {
  margin-bottom: 40px;
}

.cpc-bottom-links .cpc-links {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0px 15px;
}

.cpc-bottom-links .cpc-links .cpc-link-cards {
  display: flex;
  justify-content: space-around;
}

.cpc-bottom-links .cpc-links .cpc-link-cards .link-card {
  box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.1);
  width: 450px;
  padding: 20px;
}

.cpc-bottom-links .cpc-links .cpc-link-cards .link-card .file-image {
  width: 100px;
}

.cpc-bottom-links .cpc-links .cpc-link-cards .link-card span {
  color: black;
}

.nested {
  margin-left: 20px;
}

.ul {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0px 15px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.ul a {
  padding: 20px 10px;
  margin: 20px 0px;
  text-align: center;
  transition: all 0.3s;
  box-shadow: 0px 1px 11px 0px #ccc;
  font-size: 20px;
}

.post-date {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 5px solid #006535;
  max-width: 200px;
}

@media screen and (max-width: 500px) {
  .ul {
    margin: 0 auto 10px auto;
    padding: 0px 15px;
    grid-template-columns: 1fr;
    grid-gap: 2px;
  }
  .ul a {
    padding: 20px 10px;
    margin: 5px 0px;
    font-size: 18px;
  }
}

@media screen and (max-width: 700px) {
  .with-left-nav {
    max-width: 1024px;
    margin: 30px auto;
    padding: 15px;
    display: flex;
  }
  .with-left-nav .left-nav {
    display: none;
  }
  .with-left-nav .right-content {
    max-width: 700px;
  }
  .with-left-nav .right-content .page-header-title {
    padding: 0px;
  }
  .with-left-nav .right-content .page-header-title h1 {
    margin-top: 20px;
  }
  .with-left-nav .right-content .post-content {
    margin: 30px 0px;
  }
  .with-left-nav .right-content .post-content h1 {
    color: #006535;
  }
  .with-left-nav .right-content .post-content p {
    font-size: 17px;
  }
  .with-left-nav .right-content .post-content .green-text {
    font-weight: bolder;
    color: #006535;
  }
}

@media screen and (max-width: 970px) {
  .cpc-bottom-links {
    margin-bottom: 10px;
  }
  .cpc-bottom-links .cpc-links {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 15px;
  }
  .cpc-bottom-links .cpc-links .cpc-link-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .cpc-bottom-links .cpc-links .cpc-link-cards .link-card {
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
    margin: 20px 0px;
  }
  .cpc-bottom-links .cpc-links .cpc-link-cards .link-card .file-image {
    width: 100px;
  }
  .cpc-bottom-links .cpc-links .cpc-link-cards .link-card span {
    color: black;
  }
}

.with-left-nav .right-content .post-content .bold-infos p {
  margin: 0;
}

.with-left-nav .right-content .post-content p.bold-info {
  color: black;
  font-weight: bolder;
}

.submit-testimonial {
  display: flex;
}

.submit-testimonial button {
  margin: 35px 0px 10px 40px;
  padding: 10px 30px;
  background: #006535;
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: lighter;
  font-size: 14px;
}

.testimonials-area .testimonials {
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.testimonials-area .testimonials .testimonial {
  width: 460px;
  padding: 20px;
  box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.testimonials-area .testimonials .testimonial p {
  color: #707070;
  font-size: 17px;
}

.testimonials-area .testimonials .testimonial .testifier-details {
  display: flex;
}

.testimonials-area .testimonials .testimonial .testifier-details .testifier-image {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 50%;
}

.testimonials-area .testimonials .testimonial .testifier-details .testifier-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.testimonials-area .testimonials .testimonial .testifier-details h4 {
  margin: 20px 0px 0px 0px;
}

.load-more-button {
  display: flex;
  justify-content: center;
  margin: 10px 0px 50px 0px;
}

.load-more-button button {
  color: #006535;
  padding: 10px 30px;
  border: none;
  background: none;
  font-size: 15px;
}

@media screen and (max-width: 1000px) {
  .testimonials-area .testimonials .testimonial {
    width: 340px;
    margin: 10px;
  }
}

@media screen and (max-width: 768px) {
  .submit-testimonial {
    display: block;
  }
  .submit-testimonial h1 {
    margin-bottom: 10px;
  }
  .submit-testimonial button {
    margin: 0px 0px 30px 0px;
    padding: 10px 30px;
    background: #006535;
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: lighter;
    font-size: 14px;
  }
}

@media screen and (max-width: 750px) {
  .testimonials-area .testimonials .testimonial {
    width: 100%;
    margin: 10px 0px;
  }
}

.how-to-videos {
  margin-bottom: 50px;
}

.how-to-videos .videos-area {
  max-width: 1024px;
  padding: 20px 15px 20px 15px;
  margin: 0 auto;
}

.how-to-videos .videos-area .videos {
  display: flex;
  flex-wrap: wrap;
}

.how-to-videos .videos-area .videos .video {
  width: 250px;
  margin: 20px 4px;
}

.how-to-videos .videos-area .videos .video img {
  width: 100%;
}

.how-to-videos .videos-area .videos .video p {
  margin-top: 20px;
  font-size: 17px;
}

.post-area .post-content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0px 15px 30px 15px;
  font-size: 17px;
}

.post-area .post-content img {
  margin-bottom: 50px;
}

@media screen and (max-width: 1000px) {
  .how-to-videos {
    margin-bottom: 20px;
  }
  .how-to-videos .videos-area {
    padding: 0px 15px 20px 15px;
  }
  .how-to-videos .videos-area .videos .video {
    width: 280px;
  }
}

.doc-download {
  display: flex;
}

.doc-download .doc-image {
  width: 70px;
}

.doc-download .doc-image img {
  width: 100%;
  opacity: 0.4;
}

.doc-download a {
  padding-top: 50px;
}

.section .management-section {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0px 15px 30px 15px;
  display: flex;
}

.section .management-section .management-image {
  padding-top: 20px;
}

.section .management-section .management-image img {
  width: 300px;
}

.section .management-section .management-details {
  margin-left: 30px;
}

.section .management-section .management-details .management-rank {
  color: #006535;
  margin-bottom: 30px;
}

.section .management-section .management-details p {
  font-size: 17px;
}

@media screen and (max-width: 750px) {
  .section .management-section {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 15px 30px 15px;
    display: block;
  }
  .section .management-section .management-image {
    width: 280px;
    margin: 0 auto;
  }
  .section .management-section .management-details {
    margin-left: 0px;
  }
  .section .management-section .management-details h1 {
    text-align: center;
  }
}

.cards-carousel {
  background: #FAFAFA;
  padding: 0;
  margin: 0;
  list-style: none;
}

.cards-carousel .carousel-cell {
  width: 100%;
  height: auto;
  margin-right: 10px;
  counter-increment: carousel-cell;
}

.faq {
  max-width: 1024px;
  list-style: none;
  padding: 0 15px;
  margin: 0 auto 30px auto;
}

.faq h2 {
  color: #006535;
}

.faq p {
  font-size: 17px;
  padding-left: 30px;
}

.depts {
  font-size: 17px;
  display: block;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px 30px 15px;
}

.ul {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0px 15px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.ul a {
  padding: 20px 10px;
  margin: 20px 0px;
  text-align: center;
  transition: all 0.3s;
  box-shadow: 0px 1px 11px 0px #ccc;
}

@media screen and (max-width: 500px) {
  .ul {
    margin: 0 auto 10px auto;
    padding: 0px 15px;
    grid-template-columns: 1fr;
    grid-gap: 2px;
  }
  .ul a {
    padding: 20px 10px;
    margin: 5px 0px;
  }
}

.uli {
  padding: 0px 15px;
  margin: 0 auto;
  list-style: none;
  max-width: 1024px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.uli li {
  padding: 0px 0px 20px 0px;
  margin: 20px 0px;
  transition: all 0.3s;
  box-shadow: 0px 1px 11px 0px #ccc;
}

.uli li img {
  width: 100%;
}

.uli li p, .uli li h3 {
  padding: 10px;
  margin: 0px;
  color: black;
}

.uli li p {
  font-size: 17px;
}

.uli .green-text {
  color: green;
}

@media screen and (max-width: 500px) {
  .uli {
    margin: 0 auto 10px auto;
    padding: 0px 15px;
    grid-template-columns: 1fr;
    grid-gap: 2px;
  }
}

.sitemap-lists .sub-ul {
  padding: 20px 15px 0 15px;
  margin: 0 auto;
  list-style: none;
  max-width: 1024px;
}

.sitemap-lists .main-ul {
  padding: 0 15px;
  margin: 0 auto;
  list-style: none;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
}

.sitemap-lists .main-ul li {
  width: 240px;
  margin-right: 5px;
}

.sitemap-lists .main-ul li ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.sitemap-lists .main-ul li ul li {
  margin: 15px 0px;
  font-size: 16px;
  font-weight: lighter;
  padding: 0;
}

.secondary-title h1 {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0px 15px;
}

.contact-area h4 {
  margin-top: 0;
  font-weight: bold;
}

.contact-area ul {
  padding: 0 15px;
  margin: 30px auto;
  list-style: none;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
}

.contact-area ul li {
  border-left: 2px solid #006535;
  padding-left: 30px;
  width: 45%;
  margin: 0px 20px 50px 0px;
}

.contact-area ul li a, .contact-area ul li p {
  font-size: 17px;
  line-height: 17px;
}

.contact-area ul li a {
  margin-bottom: 5px;
}

@media screen and (max-width: 500px) {
  .contact-area ul li {
    border-left: 2px solid #006535;
    padding-left: 30px;
    width: 100%;
    margin: 20px 0px 20px 0px;
  }
}

.oops {
  margin: 10px auto;
  max-width: 600px;
  text-align: center;
}

.oops h2 {
  margin: 30px 0px;
  font-size: 3em;
  line-height: 1.2em;
  letter-spacing: -1px;
  text-align: center;
  padding: 20px 0px;
}

.oops .error-links {
  padding: 30px 0px;
}

.oops .error-links a {
  text-decoration: underline;
}

.oops p {
  font-size: 17px;
}

.oops label {
  border: 0.5px solid #006535;
  padding: 12px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.oops input {
  padding: 5px;
  width: 500px;
  outline: none;
  border: none;
  font-size: 17px;
  font-weight: lighter;
  box-shadow: none;
}

.oops input:focus {
  border: none;
  box-shadow: none;
}

.oops #lunrsearchresults ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 17px;
}

.oops #lunrsearchresults ul li {
  padding: 10px 0px;
}

.oops #lunrsearchresults ul li a {
  text-align: left;
  color: #006535;
}

.search {
  margin: 10px auto;
  max-width: 600px;
  padding: 50px 0px;
}

.search h2 {
  padding: 20px 0px;
}

.search .error-links {
  padding: 30px 0px;
}

.search .error-links a {
  text-decoration: underline;
}

.search p {
  font-size: 17px;
}

.search label {
  border: 0.5px solid #006535;
  padding: 12px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.search input {
  padding: 5px;
  width: 500px;
  outline: none;
  border: none;
  font-size: 17px;
  font-weight: lighter;
  box-shadow: none;
}

.search input:focus {
  border: none;
  box-shadow: none;
}

.search #lunrsearchresults ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 17px;
}

.search #lunrsearchresults ul li a {
  text-align: left;
  color: #006535;
}

@media screen and (max-width: 600px) {
  .oops {
    max-width: 290px;
  }
  .oops input {
    padding: 5px;
    width: 260px;
  }
}

@media screen and (max-width: 600px) {
  .search {
    max-width: 290px;
  }
  .search input {
    padding: 5px;
    width: 260px;
  }
}

.media ul {
  max-width: 1024px;
  margin: 30px auto;
  padding: 0 15px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.media ul li {
  width: 230px;
  margin: 5px 5px;
  height: 200px;
}

.media ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .media ul {
    max-width: 1024px;
    margin: 30px auto;
    padding: 0 15px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .media ul li {
    width: 230px;
    margin: 5px 5px;
    height: 200px;
  }
  .media ul li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.width-100-pc {
  width: 100%;
}

.absolute-zero {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pos-rel {
  position: relative;
}

.d-blk {
  display: block;
}

.d-flx {
  display: flex !important;
}

.al-i-c {
  align-items: center;
}

.j-c-sb {
  justify-content: space-between;
}

.j-c-fe {
  justify-content: flex-end;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-1h {
  margin-top: 1.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mr-h {
  margin-top: 0.5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-h {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.pt-h {
  padding-top: 0.5rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-h {
  padding-bottom: 0.5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.z-depth_highest {
  z-index: 10;
}

.uk-badge {
  background-color: #006535;
  min-width: 24px;
  height: 24px;
  padding: 9px 12px 8px;
  font-size: 0.775rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.uk-grid > * {
  padding-left: 0.96rem;
}

.uk-slidenav {
  background-color: #006535;
  color: white;
  padding: 20px 12px;
  margin: 0 !important;
}

.uk-slidenav:active, .uk-slidenav:hover, .uk-slidenav:focus {
  color: rgba(255, 255, 255, 0.7);
}

.show-smallup {
  display: none;
}

@media only screen and (min-width: 576px) {
  .show-smallup {
    display: block;
  }
}

.show-mediumup {
  display: none;
}

@media only screen and (min-width: 768px) {
  .show-mediumup {
    display: block;
  }
}

.hide-smallup {
  display: block;
}

@media only screen and (min-width: 576px) {
  .hide-smallup {
    display: none;
  }
}

.hide-mediumup {
  display: block;
}

@media only screen and (min-width: 768px) {
  .hide-mediumup {
    display: none;
  }
}

.sr:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip-path: inset(100%);
  overflow: hidden;
  white-space: nowrap;
}
