<h3 class="m-0 pb-h co-white microtext fw-normal">{{ site.headquarters.title }}</h3>
    <p class="nanotext mb-0">
        <span class="fw-medium co-white">Address:</span>
        <span class="opacity-7">{{ site.headquarters.address }}</span>
    </p>
    <p class="nanotext mb-0">
        <span class="fw-medium co-white">Phone:</span>
        <span class="opacity-7">{{ site.headquarters.phone }}</span>
    </p>
    <p class="nanotext">
        <span class="fw-medium co-white">Email:</span>
        <span><a href="mailto:{{ site.headquarters.email }}" class="address-link">{{ site.headquarters.email }}</a></span>
    </p>