<form action="">
    <div class="input-group">
        <label for="member_email" class="sr">Your Email Address:</label>
        <input class="form-text-input form-control" placeholder="Your Email Address" type="email" name="member[email]" id="member_email" required>
        <div class="form-action">
            <input type="submit" value="Get Newsletter" name="member[subscribe]" id="member_submit" class="form-submit-input form-control">
        </div>
    </div>
</form>
<p class="mb-0 co-white nanotext pt-1">
    <span class="opacity-7">Your email is safe with us.</span>
    <a href="{{ site.url }}/privacy-policy" class="link-on-primary privacy-link">Privacy Policy</a>
</p>