<div class="stats boxed-width wrapper will-grow pos-rel">
    <div class="grid is-multi-col mostly-3">
        <p class="mb-0 tx-c">
            <span class="big-number">{{ site.data.stats.stats.complaints_open }}</span>
            <span class="explainer-text">Complaints Filed</span>
        </p>
        <p class="mb-0 tx-c">
            <span class="big-number">{{ site.data.stats.stats.complaints_pending }}</span>
            <span class="explainer-text">Pending Resolution</span>
        </p>
        <p class="mb-0 tx-c">
            <span class="big-number">{{ site.data.stats.stats.complaints_resolved }}</span>
            <span class="explainer-text">Complaints Resolved</span>
        </p>
    </div>
</div>