---
layout:     default
---
{% include breadcrumbs.html %}

<section>
  <div class="page-header-title">
      <h1>About the Consumer Protection Council</h1>
      <div class="big-bars">
        <div class="green-bar"></div>
        <div class="grey-bar"></div>
      </div>
  </div>
</section>


<section class="about-cpc">
  <div class="about-cpc-content">
    <article class="about-cpc-light">
      <p>
          The Consumer Protection Council (CPC) is the apex consumer protection agency in
          Nigeria. The Council was established by the Consumer Protection Council Act (CPCA)
          (Cap. 25, Laws of The Federation 2004). The overall mandate of the Council is to protect
          consumers by taking both preventive and remedial measures.
      </p>
      <p>
          The CPCA was originally enacted in 1992, but the physical establishment of the Council
          occurred in 1999. The Council operates across all sectors of the economy and has evolved
          over the years. From a single office in 1999, the Council now has zonal offices in the six
          geopolitical zones, and additional emerging strategic intervention offices in key locations for
          better coverage of the country. Currently, there are nine offices including the headquarters
          in Abuja. Zonal offices are controlled and coordinated from the headquarters.
      </p>
      <p>
          The Council has had four Director Generals and Chief Executive Officers. The fourth and
          current one is Babatunde Irukera.
      </p>
    </article>
    <article class="about-cpc-bold">
      <h1>"...established to improve the well-being of Nigerians..."</h1>
    </article>
  </div>
</section>


  <div class="mission-vision">
    <article class="mission">
      <h1 class="mission-title">Our Mission</h1>
      <p class="mission-statement">To ensure customers are priority in the business value chain; and consumer protection is
          the core, not ancillary objective of business.
      </p>
    </article>
    <article class="vision">
      <h1 class="vision-title">Our Vision</h1>
      <p class="mission-statement">For the Nigerian marketplace to be a leading model of dynamism, customer satisfaction and
          responsiveness to consumers.
      </p>
    </article>
  </div>


  <div class="more-about-cpc">
  <div class="strategic-work">
    <article class="what-we-do">
      <h1>What we do</h1>
      <p>
          The Council in fulfilment of its statutory mandate employs several regulatory tools to monitor and modify behaviour of service providers and manufacturers. Some key areas of operation include complaint resolution, surveillance and enforcement, consumer education; and research and strategy.
      </p>
      <p>
          <strong class="green-text">Complaint Resolution</strong>: Using different mechanisms, the Council resolves complaints that
          are filed with the Council. Usually, consumer grievances and dissatisfaction are filed with
          the Council as “Complaints”. The Council receives these complaints in diverse ways
          including online, in-person, in writing, and multiple social media platforms. Most complaints
          are resolved using one or more of our resolution tools, such as direct engagement,
          negotiations, mediation, conciliation, investigations, administrative hearings and
          collaboration with other regulators. Investigations and hearings usually occur when a
          market intervention becomes compelling, or conduct is egregious or indicative of a pattern
          or widespread infraction.
      </p>
      <p>
          <strong class="green-text">Surveillance &amp; Enforcement</strong>: A vital tool of protecting consumers is market surveillance,
          and enforcement where violations occur. This component of our work is both random and
          targeted. Most targeted interventions are on account of intelligence gathered by, or
          provided to the Council, including anonymous tips. Random interventions are a quality
          assurance mechanism. Some activities here are preventive and may lead to publishing
          Guidelines or Advisories about products in the market and restrictions on consumption or
          use.
      </p>
      <p>
          <strong class="green-text">Consumer Education</strong>: A fundamental factor in consumer protection is an educated
          consumer. As such, the Council engages in routine and periodic consumer education to
          inform consumers of their rights, available enforcement mechanisms and how to use the
          processes. Another vital aspect of consumer education is to provide information about key
          market developments such as Advisories, Warnings, recalls and similar interventions. The
          Council conducts numerous specific and general awareness campaigns.
      </p>
      <p>
          <strong class="green-text">Research &amp; Strategy</strong>: The Council engages in ongoing research about products and
          services, as well as changing or evolving market trends and behaviour, both domestically
          and globally, to develop strategies for interventions and modifying existing mechanisms to
          be more effective or efficient. This is a vital aspect of how the Council accomplishes its
          mandate and allocates its limited resources.
      </p>
    </article>
    <article class="strategic-goals">
      <h1>Strategic goals</h1>
      <ul>
        <li>Ensure providers/producers and their patrons mutually respect their commercial and social contracts.</li>
        <li>Diminish to the barest minimum incidents of consumer aggravation and frustration.</li>
        <li>Sufficiently protect consumers from hazardous products or injury from consumption of substandard products.</li>
        <li>Promote a quality culture in both processes and final products.</li>
        <li>Engender a marketplace of informed, sophisticated and discriminatory consumers.</li>
        <li>Provide information and be a resource to consumers regarding products, trends and patterns.</li>
        <li>Ensure that service providers and manufacturers make full and frank disclosures of relevant information about their products, or developments with respect to consumption of their products, in a consumer friendly manner which truly guides the consumers’ choices.</li>
        <li>Ensure service providers and goods producers institutionalize appropriate customer care systems including providing information, appropriate support through the acquisition/consumption, and post-acquisition/consumption process.</li>
        <li>Promote the establishment of dedicated customer service apparatus by service providers and goods producers, including clear, transparent and accessible complaint resolution mechanisms.</li>
        <li>Hold providers and producers accountable to satisfying customers, including serving as a secondary level complaint resolution mechanism.</li>
        <li>Intervene in the marketplace in the event of a pattern of abuse, exploitation, unscrupulous practices or disregard for consumers.</li>
        <li>Intervene in important cases where policy and direction to modulate market interaction is necessary.</li>
        <li>Collaborate with other regulators to ensure robust consumer protection regimes in all sectors.</li>
        <li>Promote consumer confidence, both in products, and services in the marketplace.</li>
      </ul>
    </article>
  </div>
</section>


<div class="cpc-about-slider">
    <div class="slider">
        <ul class="about-carousel" data-flickity='{ "autoPlay": true, "contain": true, "prevNextButtons": true, "pageDots": false, "wrapAround": true }'>
          <li class="carousel-cell"><img src="{{ site.url }}/uploads/inform.png"></li>
          <li class="carousel-cell"><img src="{{ site.url }}/uploads/promote.png"></li>
          <li class="carousel-cell"><img src="{{ site.url }}/uploads/redress.png"></li>
          <li class="carousel-cell"><img src="{{ site.url }}/uploads/hazard.png"></li>
        </ul>
    </div>
</div>


<section class="cpc-management">
  <div class="management">
    <h1>Directors &amp; Management</h1>
    <ul class="profile-cards">
      {% assign sortedDirectors = site.directors | sort: 'rank', 'first' %}
      {% for director in sortedDirectors %}
        <li class="profile-card">
            <a href="{{ director.permalink }}">
                <div class="profile-pic">
                <img src="{{ director.image }}" alt="">
                </div>
                <div class="profile-name">
                <h3>{{ director.name }}</h3>
                <p>{{ director.designation }}</p>
                </div>
            </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>


<section>
  <div class="chart-download">
    <div class="download-card">
      <div class="file-image">
        <img src="../uploads/file.svg" alt="">
      </div>
      <a href="../uploads/cpc-organization-structure.jpg" download="image"><h1>Organization Chart</h1><span>(Download)</span></a>
    </div>
  </div>
</section>