---
layout:     default
---
{% include breadcrumbs.html %}

<section class="page-header-title">
    <h1>For Consumers</h1>
    <div class="big-bars">
      <div class="green-bar"></div>
      <div class="grey-bar"></div>
    </div>
</section>

<nav>
  <ul class="ul">
    <a href="/consumers/rights"><li>Rights</li></a>
    <a href="/consumers/responsibilities"><li>Responsibilities</li></a>
    <a href="/consumers/post-cards"><li>Services</li></a>
    <a href="/consumers/complaints-handling"><li>Complaints Handling</li></a>
    <a href="/consumers/banned-goods"><li>Banned Goods</li></a>
    <a href="/consumers/prohibited-goods"><li>Prohibited Goods</li></a>
  </ul>
</nav>

<section class="from-consumer-blog">
  <div class="from-consumer-blog-content">
    <div class="from-consumer-blog-title">
        <h1 style="margin-right:20px">The Blog</h1>
        <a href="/consumer-blog">View More {% include icons.html icon="arrow" %}</a>
    </div>
    <ul class="index-blog-articles">
            {% assign sorted_posts = site.posts | where: 'category', 'consumer-blog' %}
            {% for post in sorted_posts limit: 2 %}
            <li class="index-blog-article">
              
              <div class="index-blog-image">
                <a href="{{ site.url }}/{{ post.url }}">
                  <img src="{{ site.url }}/{{ post.image }}" alt="">
                </a>
              </div>
              <div class="index-blog-snippet">
                <a href="{{ site.url }}/{{ post.url }}">
                  <h3 class="post-title">{{ post.title | truncatewords: 8 }}</h3>
                </a>
                <div class="thin-bar"></div>
                <p class="blog-post-snippet">
                  {{ post.content | truncatewords: 12 }}
                </p>
                <a href="{{ site.url }}/{{ post.url }}">Read More {% include icons.html icon="arrow" %}</a>
              </div>
            </li>
        {% endfor %}
      </ul>
  </div>
</section>
