---
title:          Consumer Blog
layout:         default
---
<!-- Markup begins from here... -->
{% include breadcrumbs.html %}

<div class="page-header-title">
  <h1>Consumer Blog</h1>
  <div class="big-bars">
    <div class="green-bar"></div>
    <div class="grey-bar"></div>
  </div>
</div>
<!-- Additional markup is the loop that pulls all posts in the /consumer-blog/_posts/ folder... -->

<div class="from-consumer-blog">
    <div class="from-consumer-blog-content">
        <div class="index-blog-articles">
          {% for post in site.posts %}
            {% if post.category contains 'consumer-blog' %}
              <div class="index-blog-article">
                  <div class="index-blog-image">
                    <a href="{{ site.url }}/{{ post.url }}">
                      <img src="{{ post.image }}" alt="">
                    </a>
                  </div>
                  <div class="index-blog-snippet">
                    <a href="{{ site.url }}/{{ post.url }}">
                    <h3 class="post-title">{{ post.title | truncate: 70 }}</h3>
                    </a>
                    <div class="thin-bar"></div>
                    <p class="blog-post-snippet">
                      {{ post.content | truncatewords: 12 }}
                    </p>
                    <a href="{{ site.url }}{{ post.url }}">Read More {% include icons.html icon="arrow" %}</a>
                  </div>
                </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
</div>