---
layout:     default
---

{% include breadcrumbs.html %}

<section class="page-header-title">
    <h1>Departments and Units</h1>
    <div class="big-bars">
      <div class="green-bar"></div>
      <div class="grey-bar"></div>
    </div>
</section>

<nav>
   <h2 class="sr"></h2>
  <ul class="ul">
    <a href="/departments/consumer-education"><li>Consumer Education Department</li></a>
    <a href="/departments/legal"><li>Legal Services Department</li></a>
    <a href="/departments/surveillance"><li>Surveillance and Enforcement Department</li></a>
    <a href="/departments/quality-assurance"><li>Quality Assurance and Development Department</li></a>
    <a href="/departments/human-resources"><li>Administration and Human Resources Department</li></a>
    <a href="/departments/finance"><li>Finance and Accounts Department</li></a>
    <a href="/departments/public-relations"><li>Public Relations Unit</li></a>
    <a href="/departments/audit"><li>Audit Unit</li></a>
    <a href="/departments/procurement"><li>Procurement Unit</li></a>
  </ul>
</nav>
