---
layout: default
---

{% include breadcrumbs.html %}

<div class="page-header-title">
    <h1>Directors &amp; Management</h1>
    <div class="big-bars">
      <div class="green-bar"></div>
      <div class="grey-bar"></div>
    </div>
</div>


<div class="section">
  {% assign director = site.directors | where: 'title', page.title %}

  <div class="management-section">

    <div class="management-image">
      <img src="{{ site.url }}{{ page.image }}" alt="{{ page.name }}">
      <h1 class="management-name">{{ page.name }}</h1>
      <h4 class="management-rank">{{ page.designation }}</h4>
    </div>
    <div class="management-details">
      <p class="managment-info">
        {{ content}}
      </p>
    </div>
  </div>
</div>