---
layout: default
---

<div class="maxwidth-sl mx-auto clearfix">
    <section class="left-70 wrapper">
        {% include lists/breadcrumbs.html %}
    </section>
</div>


<div class="maxwidth-sl mx-auto clearfix">
    <section class="left-70 wrapper">
        <!-- {% if page.title == 'Announcements' %}
            {% assign collection = paginator.posts | where: 'is_announcements', 'true' %}
        {% elsif page.title == 'Releases' %}
            {% assign collection = paginator.posts | where: 'is_releases', 'true' %}
        {% elsif page.title == 'Consumer Blog' %}
            {% assign collection = paginator.posts | where: 'is_blog', 'true' %}
        {% elsif page.title == 'Alerts' %}
            {% assign collection = paginator.posts | where: 'is_alerts', 'true' %}
        {% else %}
            {% assign collection = paginator.posts | where: 'is_events', 'true' %}
        {% endif %} -->
        
        {% assign postsByMonth = collection | group_by_exp: "post", "post.date | date: '%b - %Y'" %}

        {% for month in postsByMonth %}
            <div class="post-group">
                <h2 class="micro-caps co-sweetgray m-0 pb-h archive-month">
                    {{ month.name }}
                </h2>
                <ul class="none">
                    {% for post in month.items %}
                        {% include lists/posts-list.html %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

        <!-- <div class="pagination">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.url }}" class="previous">Previous</a>
            {% endif %}
            <span class="page_number prefix suffix is-wider">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | prepend: site.url }}" class="next">Next</a>
            {% endif %}
        </div> -->
    </section>
    <aside class="right-30 sidebar wrapper">
        {% include components/sidebar.html %}
    </aside>
</div>