---
layout: default
---

{% include breadcrumbs.html %}

<section class="page-header-title">
  <h1>For NGO's</h1>
  <div class="big-bars">
    <div class="green-bar"></div>
    <div class="grey-bar"></div>
  </div>
</section>


<section class="section">
  <div class="with-left-nav">
    <div class="left-nav">
      <ul>
        <li><a href="#foreword">Foreword</a></li>
        <li><a href="#requirements">Requirements</a></li>
        <li><a href="#registration">Certificate of Registration</a></li>
        <li><a href="#reports">Periodic Report</a></li>
        <li><a href="#changes">Alterations and Changes</a></li>
        <li><a href="#collaborations">Collaborations</a></li>
        <li><a href="#funding">Funding</a></li>
        <li><a href="#audits">Accounts and Audit</a></li>
        <li><a href="#bottom">List of Approved NGO's</a></li>
        <li><a href="#bottom">NGO Registration Form</a></li>
      </ul>
    </div>
    <div class="right-content">
        <article class="post-content">
          
          <h1 id="foreword">Foreword</h1>
          <p>
              The CPC is established by law to protect citizens in the market place. Essentially,
              our role is to prevent abuse, exploitation and any form of mistreatment or
              disregard with respect to consumers.
          </p>
          <p>
              Where something has gone wrong and a consumer(s) is/are aggrieved, we
              exercised the tools provided by laws and regulations to ensure remedies for
              consumers.
            </p>
          <p>
              A critical mandate of the Council includes collaboration with industry, trade and
              professional associations and other relevant stakeholders, particularly civil
              society.
           </p>
          <p>
              The reason and purpose for this collaboration is that; in addition to being an
              effective mechanism for educating consumers about their rights, it also provides
              vital channels for periodic and relevant information about emerging issues
              consumers need to be aware of.
         </p>
          <p>
              As such, and in furtherance of this partnership, the Council maintains a register of
              Non-profit Consumer Protection Associations (CPAs) that are recognized for their
              consumer protection work.
          </p>
          <p>
              We are happy that you’re interested in partnering with us and welcome the
              opportunity to jointly and mutually engage for the protection of consumers. This
              Guide is useful in assisting prospective CPC registered CPAs with the registration
              process.
          </p>
          <div class="bold-infos">
            <p class="bold-info">Babatunde Irukera</p>
            <p class="bold-info">Director General</p>
            <p class="bold-info">CPC</p>
          </div>
        </article>

        <article class="post-content" id="requirements">
          <h1>Requirements</h1>
          <p class="bold-info">Registration with Relevant Government Institutions</p>
          <p>
              All CPAs must be currently registered Non Profit
              Organisations connected or registered in accordance with
              the law.
              <br><br>
              Application for registration and/or affiliation shall
              beaccompanied by:
              <br><br>
              A copy of the Certificate of registration Issued by the Corporate
              Affairs Commission(CAC) or other acceptable evidence of legal status.
              <br><br>
              Evidence of other approval/registration with other
              relevant agencies where applicable.
              <br><br>
              Detailed information about the Vision/mission
              Statement, interests and geographical scope/reach
              <br><br>
              An outline of the strategic plans, specificprojects, and
              programmes of the association.
              <br><br>
              Past activities, annual reports (if any) or other evidence
              of activities/engagement.
              <br><br>
              Brochures, prospectus, press clippings andpublicationsof
              the organization.
              <br><br>
              Copies of Publications or other materials such as
              rochures, prospectus, Flyers, Posters or press
              statements/coverage.
              <br><br>
              Names, addresses and other contact of Directors,
              Trustees, Officers or key advisers of the Association.
              <br><br>
              Each Officer/Director should provide attestation
              of their acceptance of the role.
              <br><br>
              Evidence of membership or affiliation with any international or other bodies
          </p>
        </article>
        
        <article class="post-content" id="registration">
          <h1>Certificate of Registration</h1>
          <p>Upon satisfying eligibility requirements, the Council will approve the application and issue evidence of such approval.</p>
        </article>

        <article class="post-content" id="reports">
          <h1>Periodic Reports</h1>
          <p>
              All consumer NGO’s registered with theCouncil shall provide annual
              reports of the activities of the Association and shall inform the Council of
              any proposed or scheduled consumer protection activities.
          </p>
        </article>

        <article class="post-content" id="changes">
          <h1>Alterations and Changes</h1>
          <p>
              Where an alteration or change of name or other information provided to
              the Council such as Nomenclature, Officers, Directors, Trustees, Key
              Advisers occur, the Association shall notify the Council within 14 days of
              such changes or risk invalidation of registration.
              <br><br>
              Certified True Copies of such alterations and changes at the CAC should
              also be forwarded to the Council, where applicable.
          </p>
        </article>

        <article class="post-content" id="collaborations">
          <h1>Collaborations</h1>
          <p>
              Only duly registered Consumer Associations may or be recommended
              to collaborate with the Council with third parties.
          </p>
        </article>

        <article class="post-content" id="funding">
          <h1>Funding</h1>
          <p>
              Every Association must demonstrate by evidence that it has sufficient
              funds or express acceptable commitments from sources to carry out its
              operations and proposed objectives/projects.
          </p>
        </article>

        <article class="post-content" id="audits">
          <h1>Accounts and Audits</h1>
          <p>
              Consumer Associations registered with the Council shall keep proper
              accounts and Proper records of all financial transactions.
          </p>
        </article>
    </div>
  </div>
</section>



<section class="cpc-bottom-links" id="bottom">
  <div class="cpc-links">
    <div class="cpc-link-cards">
      <div class="link-card">
        <div class="file-image">
          <img src="../uploads/file.svg" alt="">
        </div>
        <a href="../uploads/ngo-list.pdf" download><h1>List of Approved NGO's</h1><span><i class="fa fa-cloud-download" style="font-size: 18px"></i>  Download List</span></a>
      </div>
      <div class="link-card">
        <div class="file-image">
          <img src="../uploads/file.svg" alt="">
        </div>
        <a href="../uploads/ngo-guidelines.docx" download><h1>NGO Registration Form</h1><span><i class="fa fa-cloud-download" style="font-size: 18px"></i>  Download Form</span></a>
      </div>
    </div>
  </div>
</section>



<script>
  $(document).on('click', 'a[href^="#"]', function (event) {
    event.preventDefault();

    $('html, body').animate({
        scrollTop: $($.attr(this, 'href')).offset().top
    }, 500);
  });
</script>