---
layout: default
---

{% include breadcrumbs.html %}

<section>
  <div class="page-header-title">
      <h1>Strategic Alliances</h1>
      <div class="big-bars">
        <div class="green-bar"></div>
        <div class="grey-bar"></div>
      </div>
  </div>
</section>

<section class="how-to-videos">
    <div class="videos-area alliance">
      <article>
        <p>
            As a matter of operation of law, consumer protection is a vital and joint responsibility on
            many levels. Because it is a crucial centrepiece of business, and a primary and critical role
            of government, it is not uncommon that there is dual, or multiple regulation and regulators.
            This duplication or multiplicity is not a conflict, nor is it unintended. On the contrary, it is an
            overlap. Regulatory overlap is a deliberate and common design to ensure complete
            coverage and protection which is paramount in consumer protection.
        </p>
        <p>
            As such, by law, several sector regulators also have statutory responsibilities to protect
            consumers in their sectors. Although the Consumer Protection Council has overall
            oversight over protecting consumers across all sectors, the concurrent regulatory
            jurisdiction and approach in the laws seeks to improve protection outcomes by fostering
            collaboration.
        </p>
        <p>
            To accomplish this, CPC promotes and engages in strategic alliances with sector regulators
            and other parties with whom a partnership can reinforce consumer protection and prevent
            mistreatment or exploitation of citizens. Apart from the regulatory convergence on
            consumer protection with other regulators, institutional objectives convergence with the
            Council’s mandate occurs with civil society and sometimes, development partners. These
            are important to the Council. Some of these strategic alliances define the Council’s
            processes or how issues are addressed in different sectors.
        </p>
      </article>
      <article>
        <h1>Regulators</h1>
        <h4>Central Bank Nigeria (CBN)</h4>
        <p>The CBN and the Council have forged a strong working relationship in furtherance of their
            mutual interest to ensure consumer satisfaction and prevent exploitation in the financial
            institutions sector. The Council and CBN routinely collaborate in the resolving consumer
            complaints and financial sector investigations. In addition, periodic and specific
            consultations occur with respect to products, processes and trends in the industry and how
            to address same and provide guidance. These and many other issues in the industry are
            the subject of a Memorandum of Understanding between the Central bank and the Council.</p>
      </article>
      <article>
        <h4>Nigerian Communications Commission (NCC)</h4>
        <p>The Council and NCC collaborate to ensure the protection of communication services
            consumers. This collaboration is guided by a Memorandum of Understanding. Both
            institutions collaborate to ensure that service providers comply with appropriate standards
            and deliver value to consumers. When grievances occur, both agencies also cross refer
            and collaborate in resolving complaints and addressing market trends.</p>
        <p>
            The working relationship involves provision of technical support, information sharing, and
            consumer education, amongst other forms of collaboration.
        </p>
      </article>
      <article>
        <h4>National Information Technology Development Agency (NITDA)</h4>
        <p>NITDA as the standard and policy setting agency of the government in technology
            collaborates with CPC in ensuring standards are appropriate for consumer satisfaction.
            CPC also collaborates with NITDA in enforcing standards between technology partners in
            E-Commerce to ensure seamless and satisfactory consumer experience. A memorandum
            of Understanding is currently being developed to better articulate and effectively implement
            this relationship.</p>
      </article>
      <article>
        <h4>Nigerian Electricity Regulatory Commission (NERC)</h4>
        <p>The Council and NERC have a Memorandum of Understanding which guides their
            collaboration on consumer rights related matters in the power sector.
            The Council is part of the NERC Consumer Forum which is an administrative appeal
            platform for consumer complaints. The Forum meets regularly to resolve complaints by
            consumers.</p>
      </article>
      <article>
        <h4>Economic and Financial Crimes Commission (EFCC)</h4>
        <p>The Council collaborates with EFCC with respect to fraud in the market place. When there
        is evidence that operations of market players constitute the essential elements of a financial
        crime, the Council collaborates with the EFCC to investigate and provide remedies to
        victims in such circumstances</p>
        <p>
            The Council and EFCC operate under an existing tripartite Memorandum of Understanding.
            Both institutions also exchange information and provide mutual enforcement support.
        </p>
      </article>
      <article>
        <h4>National Agency for Food and Drug Administration and Control (NAFDAC)</h4>
        <p>The Council collaborates with NAFDAC in cases involving the food drugs and beverage
            industry. Core areas of focus include interdicting harmful, fake, substandard products
            before entering trade, and seizure and confiscation after entering trade. In addition,
            scientific testing knowledge skills and facilities are key areas of support from NAFDAC.</p>
      </article>
      <article>
        <h4>Standards Organization of Nigeria (SON)</h4>
        <p>The Council routinely participates in SON’s technical committees for standards setting and
            review. The standard setting process is a vital forum for the Council to discharge a core
            statutory mandate which is ensuring consumer interests receive due consideration at
            appropriate fora.</p>
      </article>
      <article>
        <h4>Nigerian Broadcasting Commission (NBC)</h4>
        <p>The Council collaborates with the NBC in relation to protecting the rights of consumers of
            broadcasting services. The Council has on occasion conducted joint investigations with
            NBC. The Council also provides feedback to NBC on content being aired and consumer
            views with respect to such content.</p>
      </article>
      <article>
        <h4>Federal Road Safety Corps (FRSC)</h4>
        <p>The Council collaborates with FRSC to ensure the safety and comfort of road transport
            consumers. The Council seeks the support of FRSC in investigation and resolving
            consumer complaints relating to road travels, when necessary. The relationship between
            the Council and FRSC recently expanded to joint sensitization projects as well as other joint
            initiatives.</p>
      </article>
      <article>
        <h4>National Environmental Standards and Regulations Enforcement Agency (NESREA)</h4>
        <p>The Council collaborates with NESREA to ensure safe destruction of seized goods. Both
            institutions also collaborate on the development of relevant regulations.</p>
      </article>
      <article>
        <h4>Nigerian Civil Aviation Authority (NCAA)</h4>
        <p>The Council works to raise consumer awareness regarding their rights as aviation
            consumers and has condensed the Passenger Bill of Rights into consumer education
            material for easier dissemination. In addition, Council sensitizes consumers on the
            complaint resolution mechanism of the NCAA and the cooperation between the Council and
            the NCAA. Both agencies jointly resolve consumer complaints.The Council collaborates with NESREA to ensure safe destruction of seized goods. Both
            institutions also collaborate on the development of relevant regulations.</p>
      </article>
      <article>
        <h1>International and Regional Development Partners</h1>
        <h4>African Consumer Protection Dialogue Conference</h4>
        <p>The African Consumer Protection Dialogue is a joint initiative of African competition and
            consumer protection regulators and the United States Federal Trade Commission which
            started in 2009. The Dialogue provides a platform to promote consumer protection and
            cross-border cooperation. The Dialogue is a vital tool for knowledge and information
            sharing, capacity building and joint projects including investigations, consumer education
            and business guidance.</p>
      </article>
      <article>
        <h4>United Nations Conference on Trade and Development (UNCTAD)</h4>
        <p>The Council actively participates in the activities of UNCTAD and has served on technical
            committees to review relevant guidelines.
        </p>
      </article>
      <article>
        <h4>United Nations Industrial Development Organisation (UNIDO)</h4>
        <p>The Council and UNIDO collaborate on a key component of the NQIP. Specifically, a
            quality awareness campaign across the country, development of a Consumer Charter, and
            establishment of a Training Centre.</p>
      </article>
  </div>
</section>